body 
{ 
  font-family: 'Montserrat', sans-serif; 
  margin: 0; padding: 0; 
  background: #000000; 
}

img 
{ 
  display: block; 
  max-width: 100%; 
  height: auto; 
} 

header 
{ 
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
} 

.logo img 
{ 
  width: 100px; 
  margin-left: 40px; 
  margin-top: 40px; 
  flex: 0 0 auto; } 


.nav_bar a 
{ color: #ffffff; 
  font-size: 22px; 
  font-weight: normal; 
  position: relative; 
  text-align: center; 
  margin-left: 20px; 
  text-decoration: none; 
  white-space: nowrap;
} 

.nav_bar img 
{ background: #ffffff; width: 35px; vertical-align: -10px; 
}

.kontakt 
{ border: 2px solid white; 
border-radius: 50px; 
padding: 8px 20px; 
transition: 0.3s ease; 
} 

.kontakt:hover 
{ background-color: white; 
  color: black; 
} 

.nav_bar a::after 
{ content: ''; 
  position: absolute; 
  left: 0; bottom: -3px; 
  width: 0; height: 2px; 
  background-color: white; 
  transition: width 0.3s cubic-bezier(0.19, 1, 0.22, 1); 
} 

.nav_bar a:hover::after 
{ width: 100%; 
} 

.nav_bar a.kontakt::after 
{ content: none; 
} 

#header
{ min-height: 140px; 
  display: block;
}

.intro {
  color: white;
  margin-top: 50px; 
  margin-left: 40px;
  margin-bottom: 60px; /* space before the image starts */
  position: relative;
}



.intro-text {
  font-size: 24px;
  margin-top: 10px;

  /* overlap the image */
  position: relative;
  top: 30px; /* moves the text down into the top of the image */
  z-index: 20;
}

.certi
  {
    position: absolute;
    bottom: 20px;
    right: 19px;
    z-index: 20;
    display: flex;
    justify-content: end;
  }

  .certi img
  {
    width: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

.intro-image-wrapper {
  position: relative;
  width: 100%;
  margin-top: -110px; /* pulls the image up so the text overlaps cleanly */
}

.intro-image {
  width: 100%;
  display: block;
}

/* Fade to black */
.image-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* how much fade you want */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  pointer-events: none;
}

.image-fade-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%; /* adjust how strong/high the fade is */
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, #000 100%);
  pointer-events: none;
  z-index: 3;
}

#nav_bar {
  display: flex; 
  justify-content: flex-end;
  gap: 25px;
  margin-top: 70px;
  margin-right: 45px;
}

.menu-toggle 
{ 
  display: none;  
  cursor: pointer; 
  margin-right: 10px;
  margin-top: 22px;
}

.menu-toggle img 
{ width: 35px; 
  filter: invert(1);
}


/*Iphone/small screens*/
@media (max-width: 869px) 
{ 

  .logo img 
  { width: 90px; 
    margin-left: 20px; 
    margin-top: 20px; 
  }
  .menu-toggle 
  { display: block; 
    position: absolute; 
    top: 15px;           
    right: 20px;        
    z-index: 11;       
    cursor: pointer;
    transition: all 0.2s ease;
  } 

  #nav_bar {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: black;
    padding: top 9px;
    border-radius: 10px;
    gap: 10px;
    padding-top: 10px;
    z-index: 10;
    margin: 0;
    width: fit-content;
    transition: all 0.2s ease;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    height: auto;
  }

  #nav_bar a 
  { font-size: 15px; 
    font-weight: bold;
  }

  #nav_bar img 
  { 
    width: 25px; 
  }

  #nav_bar.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .kontakt 
  { 
    border: 2px solid white;  
    border-radius: 30px; 
    padding: 4px 8px 4px 10px; 
  } 
  
  .intro 
  { 
    margin-top: 30px; 
    margin-left: 20px; 
    margin-right: 20px;
    font-size: 17px;
  }


  .intro-text {
    font-size: 18px;
    top: 25px; /* moves the text down into the top of the image */
  }

  .certi
  {
    position: absolute;
    justify-content: end;
    top: 302px;
  }

  .certi img
  {
    width: 50px;
    margin-left: 0px;
    margin-right: 11px;
  }

  .intro-image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

}

.hide {
  display: none;
}

